doctype 5
head
	meta(charset="utf-8")
	title= title
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	meta(name="description", content="")
	meta(name="author", content="")
    
	link(href="stylesheets/app.css", rel="stylesheet")
	link(rel="apple-touch-icon-precomposed", sizes="144x144", href="assets/ico/apple-touch-icon-144-precomposed.png")
	link(rel="apple-touch-icon-precomposed", sizes="114x114", href="assets/ico/apple-touch-icon-114-precomposed.png")
	link(rel="apple-touch-icon-precomposed", sizes="72x72", href="assets/ico/apple-touch-icon-72-precomposed.png")
	link(rel="apple-touch-icon-precomposed", href="assets/ico/apple-touch-icon-57-precomposed.png")
	link(rel="shortcut icon", href="assets/ico/favicon.png")

	script.
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', #{analyticsAccount}]);
		_gaq.push(['_trackPageview']);
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
body(data-spy="scroll", data-target=".bs-docs-sidebar")
	div.navbar.navbar-inverse.navbar-fixed-top
		div.navbar-inner
			div.container
				button.btn.btn-navbar(type="button", data-toggle="collapse", data-target=".nav-collapse")
				span.icon-bar
				span.icon-bar
				span.icon-bar
				div.nav-collapse.collapse
					ul.nav
						li.active
							a(href="#") Tuesday Knight Games
						li
							a(href="#") Two Rooms and a Boom
						li
							a(href="#") Face Spankers
						li
							a(href="#") Pit Bull Pugilists
	div.jumbotron.masthead.dark-gradient
		div.container.logo
			img(src="images/2r1blogo_tall.png")
		div.container.slider
			div.slide
				div.row
					p.span4
						img(src="http://tworoomsandaboom.com/wp-content/uploads/2013/03/tworoombox_myproduct.png")
					div.span8
						h2 The Party Game That’s Always a Blast!
						h4.highlight EASY TO LEARN. ALL AGES. LYING ENCOURAGED.
						p Two Rooms and a Boom is a hidden roles party game for 6+ people. Protect the President or blow him up. You decide!
						a.btn.btn-primary.btn-large(href="http://github.com/codevinsky/snacky-cakes") Pick A Side!
			ul.masthead-links
				li
					a(href="#introduction") What is it?
				li
					a(href="#instructions") How Do I Play It?
				li
					a(href="#downloads") Download It!

	div.social
		div.container
			ul.social-buttons
				li
					iframe.github-btn(src="http://ghbtns.com/github-btn.html?user=twitter&repo=bootstrap&type=watch&count=true", allowtransparency="true", frameborder="0", scrolling="0", width="100px", height="20px")
				li
					iframe.github-btn(src="http://ghbtns.com/github-btn.html?user=twitter&repo=bootstrap&type=fork&count=true", allowtransparency="true", frameborder="0", scrolling="0", width="102px",height="20px")
				li.follow-btn
					a.twitter-follow-button(href="https://twitter.com/twbootstrap", data-link-color="#0069D6", data-show-count="true") Follow @twbootstrap
				li.tweet-btn
					a.twitter-share-button(href="https://twitter.com/share",  data-url="http://twitter.github.com/bootstrap/", data-count="horizontal", data-via="twbootstrap", data-related="mdo:Creator of Twitter Bootstrap") Tweet
	
	a(name="introduction")
	div.marketing.introduction.light-gradient
		div.container
			h1 Introducing Two Rooms and a Boom
			p.overview.text-left Two Rooms and a Boom is a social deduction, hidden role game. There are two teams, the Red Team and the Blue Team. The Blue Team has a President. The Red Team has a Bomber. Players are equally distributed between two rooms. The game consists of 5 timed rounds. At the end of each round, some players will be traded into opposing rooms. If the Red Team’s Bomber is in the same room as the President at the end of the game, then the Red Team wins. Otherwise the Blue Team wins.
			div.row-fluid
				div.span4.well
					h3.highlight Easy To Learn
					p Your first game of 2R1B will only take 6 minutes, and in no time you’ll lying, conniving, spying, and hustling to your heart’s content.
				div.span4.well
					h3.highlight Fast To Play
					p Games are a great icebreaker, but people can be afraid to commit a large chunk of time to a game they’ve never played before. Fortunately, every game of 2R1B plays in fifteen minutes or less.
				div.span4.well
					h3.highlight Any Group: Big or Small
					p Corporate event? Birthday party? Church group? Regular gaming night? Even if you’re throwing a party where the attendees don’t know each other, 2R1B plays with 6-30+ players, and gets people up and talking!

	a(name="testimonials")
	div.marketing.testimonials.dark-gradient
		div.container
			h1 Don't Take Our Word For It.
			div.row-fluid
				div.span4.well
					h3.highlight 
						img(src="http://tworoomsandaboom.com/wp-content/uploads/et_temp/erin_avatar-7356_50x50.jpg")
						span.title Werewolf Killer 
					blockquote "This game is a Werewolf killer for me. It’s very fast-paced and can feel pretty random for it at times, but I love it. I love that it’s real time so you can’t overthink your decisions like you might be inclined to in other social deduction games and it plays so quickly you can play multiple games in a row!"
						small Erin
				div.span4.well
					h3.highlight 
						img(src="http://tworoomsandaboom.com/wp-content/uploads/et_temp/caitlin_avatar-6664_50x50.jpg")
						span.title Addict 
					blockquote "Looooove this game. I take it with me most places in the off chance that we will have enough people and two rooms."
						small Caitlin
				div.span4.well
					h3.highlight
						img(src="http://tworoomsandaboom.com/wp-content/uploads/et_temp/jeremy_avatar-4507_50x50.jpg")
						span.title Woodland Creature 
					blockquote "Not the best game ever. Just the best party game ever."
						small Jeremy
	
	a(name="instructions")
	div.marketing.instructions.light-gradient
		div.container
			h1 How To Play
			div.step
				img.pull-right(src="images/cards.png")
				h2.highlight What is this game?
				p Two Rooms and a Boom is a social deduction, hidden role game. There are two teams, the Red Team and the Blue Team. The Blue Team has a President. The Red Team has a Bomber. Players are equally distributed between two rooms (separate playing areas). The game consists of 5 timed rounds. At the end of each round, some players will be traded into opposing rooms. If the Red Team’s Bomber is in the same room as the President at the end of the game, then the Red Team wins. Otherwise the Blue Team wins.
			div.step
				h2.highlight Step 1: Setup the deck.
				p The character deck includes the Bomber card, the Blue President card, and an equal number of Red and Blue Team cards. There will be one character card in the game for each player in the game.
			div.step
				h2.highlight Step 2: Randomly Give Out the Character Cards
				p Each player receives one character card face down. The character cards are secret but can be revealed during the game. Players should not discuss their character cards with one another until the game begins.
			div.step
				img.pull-left(src="http://tworoomsandaboom.com/wp-content/uploads/2013/03/tworoomcards_myproduct1.png")
				h2.highlight Step 3: Two Rooms...
				p Randomly separate the players into two rooms as evenly as you can. The “rooms” can be separated by a wall, door, or simply two open areas at a distance from each other. It is not important if players can see one another, but separate rooms shouldn’t be able to hear one another.
			div.step
				h2.highlight Step 4: Start The Timer
				p At the end of each round, the room leader selects a number of hostages to change rooms. The game concludes at the end of the 1 minute round after the last hostage exchange.
			div.step
				h2.highlight Step 5: ... and a Boom!
				p At the end of the last hostage exchange, everyone reveals their character cards. Whichever room has the Bomber in it will explode, killing everyone inside. If the President is in the room with Bomber, then the entire Red Team wins, if not, The President is safe and the entire Blue Team wins.

	a(name="downloads")
	div.marketing.downloads.dark-gradient
		div.container
			h1 Download
			h2.text-left.highlight What are you waiting for?
			div.row
				div.span6
					div.text-left Two Rooms and a Boom isn’t available in stores yet, though we hope to be Kickstarting it by Origins 2013. In the meantime, we need all the feedback we can get! So, please, download the full Print and Play copy of the game and play it with your friends.
						h3.text-left.highlight Playset includes everything you need to play 			
						div.features
							ul.text-left
								li President (x1)
								li Blue Team (x8)
								li Special Blue Characters (x49)
								li Special Grey Characters (x32)
								li Rulebook & Character Guide 
							ul.text-left
								li Bomber (x1)
								li Red Team (x8)
								li Special Red Characters (x49)
								li Leader Cards (x5)
					button.btn.btn-large.btn-danger Download Everything!
				div.span6
					img(src="http://tworoomsandaboom.com/wp-content/uploads/2013/03/tworoombox_myproduct.png")

	

	footer.footer
		div.container.
